html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}



/* HEADER */

header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px 25px 100px;
    box-shadow: 0 0 8px 5px #0008;
}

header h3 {
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

a.navegacao {
    font-size: 1.3rem;
    color: #000;
    text-decoration: none;
}

a.navegacao:hover {
    color: #346beb;
    scale: 1.1;
}



/* MAIN */

/* introdução/início */

main {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#introducao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;

    width: 85vw;
}

#texto-introducao {
    display: flex;
    flex-direction: column;

    width: 40vw;
}

#texto-introducao h2 {
    font-size: 3.5rem;
}

#texto-introducao h1 {
    font-family: 'Honk', system-ui;
    /* font-size: 2.8rem; */
}

#descricao-introducao {
    margin-top: 30px;
    width: 30vw;
}

#texto-introducao p {

    font-size: 1.2rem;
}

#foto-introducao {
    background-color: #cfcfcf;
    padding: 20px;
    overflow: hidden;
}

#botoes-introducao {
    width: 20vw;
    display: flex;
    margin: 20px 0 0 30px;
    justify-content: space-around;
    /* background-color: red; */
}

.redes-sociais-botoes {
    padding: 5px 15px;
}

.redes-sociais-botoes a {
    color: #000;
}

#foto-introducao img {
    width: 500px;
}




/* Sobre */

#sobre {
    scroll-margin-top: -60px;
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    width: 100vw;
    padding: 20vh 0;

    /* align-items: center; */
    background-color: #ebebeb;
}

#foto-sobre {

    /* background-color: rgb(0, 225, 255); */
    padding: 15px;
}

#foto-sobre img {
    width: 26vw;
}


#habilidades-sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    font-size: 2rem;
    flex-wrap: nowrap;
    padding: 20px 0 20px 30px;

    /* background-color: rgb(223, 130, 130); */
}

#sobre-mim-titulo {
    font-size: 3.5rem;
    margin-bottom: 15px;
}

#curiosidades-sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#curiosidades-sobre div p {
    font-size: 1.5rem;
}


#habilidades-titulo {
    margin-top: 50px;
    /* font-size: 1.5rem; */
}

#itens-que-possuo-habilidades {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 30px; */

    /* border: solid white 2px; */
    /* background-color: rgb(54, 156, 196); */
    padding: 10px;
}

#itens-que-possuo-habilidades p {
    font-size: 1.4rem;
}