/* Animação */

@keyframes slideRight {
    0% {
        opacity: 25%;
        transform: translateX(-400px);
    }

    60% {
        opacity: 100%;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 25%;
        transform: translateX(400px);
    }

    60% {
        opacity: 100%;
    }

    100% {
        transform: translateX(0);
    }
}

/* Classe para aplicar à elementos */
.slideRight {
    animation: slideRight 2s;
}

.slideLeft {
    animation: slideLeft 2s;
}

/* Caixinhas de acessar projeto -> no celular você pode acabar clicando sem querer */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}



/* HEADER */

header {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #fff;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 70px 25px 100px;
    gap: 0 80px;
    color: #0008;
}

.sombra {
    transition: box-shadow 1.5s;
    box-shadow: 0 0 8px 5px currentColor;
}

a#leo {
    margin-right: auto;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 900;
}

nav {
    display: flex;
    gap: 0 30px;
    background-color: #fff;
}

a.navegacao {
    font-size: 1.3rem;
    color: #000;
    text-decoration: none;
    transition: scale 0.1s;
}

a.navegacao:hover {
    color: #2862e9;
    scale: 1.1;
}

#modo-escuro {
    color: #000;
    font-size: 1.6rem;
    border: solid 2px #000;
    background-color: #36363680;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    display: grid;
    place-content: center;
    transition: scale 0.1s;
}

#modo-escuro:hover {
    cursor: pointer;
    scale: 1.1;
}

#modo-escuro.sol {
    background-color: #fff;
    color: #000;
}

#menu-hamburguer {
    display: none;
}



/* MAIN */

main {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



/* introdução/início */

#introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    gap: 0 20px;
    height: 70vh;
    width: 85vw;
}

#texto-introducao {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

#texto-introducao h2 {
    font-size: 3.5rem;
}

#texto-introducao h1 {
    font-size: 2.1rem;
    font-family: 'Honk', system-ui;
}

#descricao-introducao {
    grid-column: 1/2;
    margin-top: 30px;
    width: 30vw;
}

#descricao-introducao p {
    font-size: 1.2rem;
}

#foto-introducao {
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
}

#foto-introducao img {
    border: solid 8px #ebebeb;
    border-radius: 5px;
    width: 500px;
    transition: border-color 0.6s;
}

#botoes-introducao {
    grid-column: 1/2;
    width: 20vw;
    display: flex;
    margin: 20px 0 0 30px;
    justify-content: space-around;
}


.redes-sociais-botoes a img {
    width: 50px;
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 100%;
    padding: 3px;
    box-shadow: 2px 2px 4px #000;
    transition: scale 0.1s;
}

.redes-sociais-botoes a img:hover {
    scale: 1.10;
}




/* Sobre */

#sobre {
    scroll-margin-top: -35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    margin-top: 3vw;
    width: 100%;
    padding: 20vh 0;
    background-color: #ebebeb;
    gap: 0 30px;
}

#foto-sobre {
    display: flex;
    justify-content: center;
    grid-row: 1/3;
    grid-column: 1/2;
}

#foto-sobre img {
    width: 410px;
}

#curiosidades-sobre {
    grid-column: 2/3;
    width: 90%;
}

#sobre-mim-titulo {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 15px;
}

#lista-de-curiosidades {
    display: flex;
    flex-direction: column;
    gap: 8px 0;
}

#lista-de-curiosidades p {
    font-size: 1.5rem;
}

#habilidades-sobre {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    flex-wrap: nowrap;
    width: 90%;
}

#habilidades-titulo {
    margin-top: 50px;
}

#itens-que-possuo-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 25px;
    margin: 10px;
}


.tecnologia img {
    width: 4.6rem;
    transition: scale 0.1s;
}

.tecnologia img:hover {
    scale: 1.1;
}



/* Projetos */

#projetos {
    padding: 20vh 0;
    scroll-margin-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#projetos h2 {
    font-size: 2.8rem;
}

#campo-com-projetos {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vh 5vw;
    width: 80%;
}

.projeto {
    width: 300px;
    height: 220px;
    transition: margin-bottom 0.5s;
}

.projeto .acessar-projeto {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 220px;
}

.icones_para_acessar_projeto {
    transition: scale 0.1s, opacity 0.8s;
    opacity: 0;
    max-width: 60px;
    width: 6vw;
    min-width: 45px;
    border-radius: 50%;
    border: solid 2px #000;
    background-color: #fff;
    box-shadow: 2px 2px 4px #000;
}

.icones_para_acessar_projeto:hover {
    scale: 1.12;
}


.capa-do-projeto {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: solid 3px #000;
}

.projeto p.descricao-projeto {
    transition: 0.5s;
    opacity: 0;
    text-align: center;
}



/* Contato */

#contato {
    scroll-margin-top: -40px;
    padding: 20vh 0;
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato h2 {
    text-align: center;
    font-size: 2.8rem;
}

form#entre-em-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes-do-usuario {
    margin-top: 30px;
    height: 60vh;
    max-height: 460px;
    width: 60vw;
    gap: 40px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}

#informacoes-do-usuario input,
#mensagem {
    width: 100%;
    padding-left: 8px;
    font-size: 1.1rem;
    border: solid 2px #000;
}

#informacoes-do-usuario input:hover,
#mensagem:hover {
    border: solid 2px #2862e9;
}

#informacoes-do-usuario input:focus,
#mensagem:focus {
    border: solid 3px #000;
    background-color: #ddd;
}

#nome,
#email {
    min-height: 60px;
}

#mensagem {
    padding: 20px 10px 0 15px;
    resize: none;
    font-size: 1.2rem;
    grid-column: 1/3;
    min-height: 120px;
}

#confirmacao-mensagem-enviada {
    display: none;
    margin-top: 10px;
}

#botao-enviar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2862e9;
    border: solid 2px #000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000;
    font-size: 1.4rem;
    transition: scale 0.1s;
    color: #DDD;
}

#botao-enviar:hover {
    cursor: pointer;
    scale: 1.05;
}



/* Footer */

footer {
    background-color: #363636;
    padding: 10vh 15px 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    gap: 50px 0;
}

#informacoes-contato-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
    font-size: 1.4rem;
}

#imagens-footer {
    display: flex;
    gap: 0 15px;
}

#imagens-footer img {
    border: solid 2px #000;
    box-shadow: 2px 2px 4px #000;
    background-color: #fff;
    border-radius: 100%;
    padding: 5px;
    width: 55px;
    transition: scale 0.1s;
}

#imagens-footer img:hover {
    cursor: pointer;
    scale: 1.1;
}

footer p {
    text-align: center;
}





/* Responsividade */

@media only screen and (max-width: 1200px) {

    /* HEADER */
    header {
        padding: 25px 100px 25px 100px;
    }

    /* INTRODUÇÃO */
    #foto-introducao {
        padding: 15px;
    }

    #foto-introducao img {
        width: 400px;
    }

    #texto-introducao h2 {
        font-size: 3.0rem;
    }

    #texto-introducao h1 {
        font-size: 1.9rem;
        font-family: 'Honk', system-ui;
    }

    #texto-introducao p {
        font-size: 1rem;
    }

    /* Contato */
    #informacoes-do-usuario {
        width: 75vw;
    }

}

@media only screen and (max-width: 1000px) {

    /* HEADER */
    header {
        padding: 25px 70px 25px 60px;
        gap: 0 50px;
    }

    #modo-escuro {
        margin-left: auto;
    }

    /* INTRODUÇÂO */

    #introducao {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        height: auto;
        padding-bottom: 5vh;
    }

    #descricao-introducao {
        margin: 10px 0;
        display: flex;
        text-align: center;
        width: 60%;
        order: 1;
    }

    #botoes-introducao {
        width: 30%;
        margin: 10px 0;
        justify-content: space-around;
        order: 2;
        gap: 0 50px;
    }

    #texto-introducao {
        width: 100%;
    }

    #foto-introducao {
        margin-top: 30px;
    }

    /* Sobre */
    #sobre {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px 0;
    }

    #foto-sobre img {
        width: 350px;
    }

    #curiosidades-sobre {
        width: 50%;
        order: -1;
        width: 75%;
    }

    #habilidades-sobre {
        width: 70%;
    }

    #habilidades-titulo {
        margin-top: 0;
    }

    .tecnologia img {
        width: 4.4rem;
    }

    /* Contato */
    #informacoes-do-usuario {
        width: 90vw;
    }

}

@media only screen and (max-width: 768px) {

    /* HEADER */
    header {
        padding: 25px 50px 25px 60px;
    }

    a#leo {
        font-size: 1.4rem;
    }

    a.navegacao {
        font-size: 1.2rem;
    }

    #modo-escuro {
        width: 40px;
        height: 40px;
        font-size: 1.4rem;
    }

    /* Sobre */
    #habilidades-sobre {
        width: 90%;
    }

    /* Contato */
    #informacoes-do-usuario {
        display: flex;
        flex-direction: column;
    }

    #informacoes-do-usuario input {
        height: 80px;
    }

    #mensagem {
        height: 400px;
    }
}

@media only screen and (max-width: 675px) {
        /* Header */
        header {
            box-shadow: 0 5px 5px #0008;
            transition: box-shadow 1s;
        }
    
        nav {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 20px 0;
            transform: translateY(91px);
            padding: 25px 0;
            box-shadow: 0 5px 5px #0008;
        }
    
        #modo-escuro {
            margin: 0 auto;
        }
    
        .sumir {
            display: none;
        }
    
        #menu-hamburguer {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 10px 0;
            transition: scale 0.2s, color 0.8s;
            color: #000;
        }
    
        #menu-hamburguer:hover {
            cursor: pointer;
            scale: 1.1;
        }
    
        #menu-hamburguer span {
            background-color: currentColor;
            height: 7px;
            width: 45px;
            border-radius: 5px;
        }
    
        #menu-hamburguer::before,
        #menu-hamburguer::after {
            content: '';
            height: 7px;
            width: 45px;
            border-radius: 5px;
            background-color: currentColor;
        }
    
}

@media only screen and (max-width: 600px) {

    /* MAIN */
    main {
        margin-top: 30px;
    }

    /* INTRODUÇÃO */
    #foto-introducao {
        margin-top: 20px;
    }

    #foto-introducao img {
        width: 300px;
    }

    #texto-introducao h2 {
        font-size: 2.5rem;
    }

    #texto-introducao h1 {
        font-size: 1.7rem;
        font-family: 'Honk', system-ui;
    }

    #descricao-introducao p {
        font-size: 1rem;
    }

    #botoes-introducao {
        gap: 0 25px;
    }

    #botoes-introducao img {
        width: 45px;
    }

    /* Sobre */
    #foto-sobre img {
        width: 55%;
    }

    #sobre-mim-titulo {
        font-size: 2.5rem;
    }

    #curiosidades-sobre {
        width: 90%;
        padding-left: 5%;
    }

    #lista-de-curiosidades p {
        font-size: 1.2rem;
    }

    #habilidades-titulo {
        font-size: 1.9rem
    }

    #habilidades-sobre {
        width: 80%;
        justify-content: center;
    }

    #itens-que-possuo-habilidades {
        justify-content: center;
        gap: 10px 20px;
    }

    .tecnologia img {
        width: 3.7rem;
    }

    /* Projetos */
    #campo-com-projetos {
        width: 90%;
    }

    .projeto {
        max-width: 380px;
        width: 95%;
        height: 50%;
    }

    .projeto .acessar-projeto {
        left: 5%;
        width: 90%;
        height: 65vw;
        max-height: 280px;
    }

    /* Contato */
    #contato h2 {
        font-size: 2.4em;
    }

    /* Footer */
    #informacoes-contato-footer p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 450px) {

    /* Header */
    header {
        padding: 25px 40px 25px 40px;
        gap: 0 15px;
    }

    nav {
        gap: 15px 0;
        transform: translateY(79px);
        padding: 25px 0;
    }

    nav a.navegacao {
        font-size: 1.2rem;
    }

    #modo-escuro {
        width: 35px;
        height: 35px;
        font-size: 1.2rem;
    }

    #menu-hamburguer {
        gap: 7px 0;
    }

    #menu-hamburguer span {
        height: 5px;
        width: 30px;
    }

    #menu-hamburguer::before,
    #menu-hamburguer::after {
        height: 5px;
        width: 30px;
    }

    /* Sobre */
    #lista-de-curiosidades p {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 375px) {
    /* MAIN */
    main {
        margin-top: 25px;
    }

    /* Introdução */
    #foto-introducao {
        margin-top: 10px;
    }

    #foto-introducao img {
        border: solid 5px #ebebeb;
        width: 85%;
    }

    #descricao-introducao {
        width: 80%;
    }

    #texto-introducao h2 {
        font-size: 2rem;
    }

    #texto-introducao h1 {
        font-size: 1.28rem;
    }

    #texto-introducao p {
        font-size: 0.8rem;
    }

    /* Sobre */
    #lista-de-curiosidades p {
        font-size: 0.94rem;
    }

    #habilidades-sobre {
        width: 90%;
    }

    .tecnologia img {
        width: 3.3rem;
    }

    /* Projetos */
    .projeto p.descricao-projeto {
        margin-top: 5px;
        font-size: 0.85rem;
    }

    /* Footer */
    #informacoes-contato-footer p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 300px) {

    /* Headear */
    header {
        padding: 20px 30px 20px 30px;
    }

    nav {
        transform: translateY(69px);
    }

    nav a.navegacao {
        font-size: 1.1rem;
    }

    /* Introdução */
    #foto-introducao img {
        border: solid 0px #ebebeb;
        width: 90%;
    }

    #texto-introducao h2 {
        font-size: 1.8rem;
    }

    #texto-introducao h1 {
        font-size: 1.1rem;
    }

    #texto-introducao p {
        font-size: 0.7rem;
    }


    /* Projetos */
    .icones_para_acessar_projeto {
        max-width: 40px;
        width: 15vw;
        min-width: 25px;
    }

    .projeto p.descricao-projeto {
        font-size: 0.7rem;
    }

    /* Footer */
    #informacoes-contato-footer p {
        font-size: 0.8rem;
    }

    #imagens-footer img {
        width: 45px;
    }

    footer p {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 225px) {

    /* Footer */
    #informacoes-contato-footer p:first-child {
        font-size: 0.6rem;
    }

    #imagens-footer img {
        width: 35px;
    }

    footer p {
        font-size: rem;
    }

}