html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}



/* HEADER */

header {
    z-index: 1;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px 25px 100px;
    box-shadow: 0 0 8px 5px #0008;
}

a#leo {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 900;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

a.navegacao {
    font-size: 1.3rem;
    color: #000;
    text-decoration: none;
    transition: scale 0.1s;
}

a.navegacao:hover {
    color: #2862e9;
    scale: 1.1;
}



/* MAIN */

/* introdução/início */

main {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#introducao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 85vw;
}

#texto-introducao {
    display: flex;
    flex-direction: column;

    width: 40vw;
}

#texto-introducao h2 {
    font-size: 3.5rem;
}

#texto-introducao h1 {
    font-family: 'Honk', system-ui;
}

#descricao-introducao {
    margin-top: 30px;
    width: 30vw;
}

#texto-introducao p {

    font-size: 1.2rem;
}

#foto-introducao {
    background-color: #cfcfcf;
    padding: 20px;
    overflow: hidden;
}

#botoes-introducao {
    width: 20vw;
    display: flex;
    margin: 20px 0 0 30px;
    justify-content: space-around;
}


.redes-sociais-botoes a img {
    width: 50px;
    border: solid 2px #000;
    border-radius: 100%;
    padding: 3px;
    box-shadow: 2px 2px 4px #000;
    transition: scale 0.1s;
}

.redes-sociais-botoes a img:hover {
    scale: 1.10;
}

#foto-introducao img {
    width: 500px;
}




/* Sobre */

#sobre {
    scroll-margin-top: -35px;
    display: flex;
    justify-content: center;
    margin-top: 3vw;
    width: 100%;
    padding: 20vh 0;
    background-color: #ebebeb;
}

#foto-sobre img {
    width: 30vw;
}


#habilidades-sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    font-size: 2rem;
    flex-wrap: nowrap;
    padding: 20px 0 20px 30px;
}

#sobre-mim-titulo {
    font-size: 3.5rem;
    margin-bottom: 15px;
}

#curiosidades-sobre {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px 0;
}

#curiosidades-sobre div p {
    font-size: 1.5rem;
}


#habilidades-titulo {
    margin-top: 50px;
}

#itens-que-possuo-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 25px;
    padding-top: 10px;
}


.tecnologia img {
    width: 4.6rem;
    transition: scale 0.1s;
}

.tecnologia img:hover {
    scale: 1.1;
}



/* Projetos */

#projetos {
    padding: 20vh 0;
    scroll-margin-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#projetos h2 {
    font-size: 2.8rem;
}

#campo-com-projetos {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vh 5vw;
    width: 80%;
}

.projeto {
    width: 300px;
    height: 220px;
    transition: 0.5s;
}

.projeto .acessar-projeto {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 220px;
}

.icones_para_acessar_projeto {
    transition: scale 0.1s, opacity 0.8s;
    opacity: 0;
    width: 62px;
    border-radius: 10%;
}

.icones_para_acessar_projeto:hover {
    scale: 1.12;
}


.capa-do-projeto {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.projeto p.descricao-projeto {
    transition: 0.5s;
    opacity: 0;
    text-align: center;
}



/* Contato */

#contato {
    scroll-margin-top: -30px;
    padding: 20vh 0;
    width: 100%;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contato h2 {
    font-size: 2.8rem;
}

form#entre-em-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informacoes-do-usuario {
    margin-top: 30px;
    height: 60vh;
    width: 50vw;
    gap: 40px 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}

#informacoes-do-usuario input,
#mensagem {
    padding-left: 8px;
    font-size: 1.1rem;
    border: solid 2px #000;
}

#informacoes-do-usuario input:hover,
#mensagem:hover {
    border: solid 2px #2862e9;
}

#informacoes-do-usuario input:focus,
#mensagem:focus {
    border: solid 3px #000;
    background-color: #2b5fd823;
}

#mensagem {
    padding: 20px 10px 0 15px;
    resize: none;
    font-size: 1.2rem;
    grid-column: 1/3;
}

#botao-enviar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2862e9;
    border: solid 2px #000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    font-size: 1.4rem;
    transition: scale 0.1s;
}

#botao-enviar:hover {
    cursor: pointer;
    scale: 1.05;
}



/* Footer */

footer {
    background-color: #363636;
    padding: 10vh 0 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    gap: 50px 0;
}

#informacoes-contato-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
    font-size: 1.4rem;
}

#imagens-footer {
    display: flex;
    gap: 0 15px;
}

#imagens-footer img {
    border: solid 2px #000;
    box-shadow: 2px 2px 4px #000;
    background-color: #fff;
    border-radius: 100%;
    padding: 5px;
    width: 55px;
    transition: scale 0.1s;
}

#imagens-footer img:hover {
    cursor: pointer;
    scale: 1.1;
}