html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px 25px 100px;
    box-shadow: 0 0 8px 5px #0008;
}

header h3 {
    font-size: 1.5em;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    /* background-color: rgb(109, 88, 88); */
}

a.navegacao {
    font-size: 1.3em;
    color: #000;
    text-decoration: none;
}

/* MAIN */

/* introdução/início */

main {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#introducao {
    display: flex;
    justify-content: space-between;

    width: 85vw;
    /* background-color: rgb(255, 128, 128); */
}

#texto-introducao {
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    /* justify-content: center; */
    width: 40vw;
}

#texto-introducao h2 {
    font-size: 3.5em;
}

/* #texto-introducao h1 {
    
} */

#descricao-introducao {
    margin-top: 30px;
    width: 30vw;
}

#texto-introducao p {

    font-size: 1.2em;
}

#foto-introducao {
    background-color: #cfcfcf;
    padding: 20px;
    overflow: hidden;
}

#botoes-introducao {
    width: 20vw;
    display: flex;
    margin: 20px 0 0 30px;
    justify-content: space-around;
    /* background-color: red; */
}

.redes-sociais-botoes {
    padding: 5px 15px;
}

.redes-sociais-botoes a {
    color: #000;
}

#foto-introducao img {
    width: 500px;
}

/* Sobre */

#sobre {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    
    /* align-items: center; */
    background-color: #cfcfcf;
    /* width: 100vw; */
    padding: 20px;
}

#foto-sobre {

    background-color: red;
    padding: 20px;
}

#foto-sobre img {
    width: 400px;
}

#habilidades-sobre {
    scroll-margin-top: 150px;
    font-size: 2em;
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    background-color: rgb(81, 255, 0);
    padding: 20px;
}

#itens-que-possuo-habilidades {
    display: flex;
    flex-wrap: wrap;

    border: solid white 2px;
    background-color: rgb(54, 156, 196);
    padding: 10px;
}